div#box_directories {
    background-color: #edecd6;
    border-style: solid;

    width: 50%;
    height: 50%;

    margin-left:auto;
    margin-right:auto;
}
.tool_box{
    border-style: groove;
    background-color: #bbbbbb;

    margin-left:auto;
    margin-right:auto;

    width: 50%;
    height: 50%;
}
.container{
   text-align: center;
}
.main {
    text-align: center;
}

div#back {
    background-color: gold;
    border-style: solid;
}