<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>List Files</title>
        <link type="text/css" rel="stylesheet" href="/static/css/index.css"/>

        <script type="text/javascript" src="/static/js/jquery-2.0.0.min.js"></script>
        <script type="text/javascript" src="/static/js/ajax_loader.js"></script>
    </head>

    <body>
        <div class="container">
            <div class="tool_box">
                {% if default_dirs %}
                    <form action="">
                        <label for="directories">Choose path:</label>

                        <select id="directories">
                            {% for d in default_dirs %}
                                <option value="{% url 'list.views.resolve_absolute_path' d.path %}">
                                    {{ d.path }}
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                {% endif %}
            </div>
            <div id="box_directories"></div>
        </div>
    </body>
</html>